{% block content %}
    {% if questions %}
        <form role="form"action="/result" method="post">
            <div id="userName">
                <h2>What is your name?</h2>
                <input type="text" name="name">  </input>
                <button type="button" onclick="startQuiz()">Start quiz</button>
            </div>
            {% for key, question in questions|shuffle %}
                <div id={{'question-' ~ key}} hidden>
                    <h2>Question {{ key + 1 }} of {{ questions|length }}:</h2>
                    <h3>{{ question.title }}</h3>
                    {% set answerKeys = question.options|keys|shuffle %}
                    {% for optionKey in answerKeys %}
                        <label class="container">{{ question.options[optionKey] }}
                            <input type="checkbox" name={{ 'answer[' ~ question.id ~ '][' ~ optionKey ~ ']' }}>
                            <span class="checkmark"></span>
                        </label>
                    {% endfor %}
                    <button type="button" onclick={{'clickNextQuestion(' ~ key ~ ')'}}>Next ❯</button>
                </div>
            {% endfor %}
            <button id="formSubmitButton" type="submit" hidden> Завершить тест </button>
        </form>

    {% else %}
        We don't have questions for you, yet.
    {% endif %}
{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    let questionslength = {{ questions|length }};

    function startQuiz(event) {
        $("#userName").attr('hidden', true);
        $("#question-0").removeAttr('hidden');
    }

    function clickNextQuestion(currentQuestionId) {
        let currentQuestionSelector = $("#question-" + (currentQuestionId));
        let nextQuestionSelector = $("#question-" + (currentQuestionId + 1));

        let checked = currentQuestionSelector.children("label").children("input[type=checkbox]:checked").length;
        if(!checked) {
            alert("You must check at least one checkbox.");
            return false;
        }

        currentQuestionSelector.attr('hidden', true);
        nextQuestionSelector.removeAttr('hidden');

        if (currentQuestionId == (questionslength - 2)) {
            nextQuestionSelector.children("button").attr('hidden', true);
            $("#formSubmitButton").removeAttr('hidden');
        }
    }
</script>

<style>
    .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }

    .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    }

    .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    }

    .container:hover input ~ .checkmark {
    background-color: #ccc;
    }

    .container input:checked ~ .checkmark {
    background-color: #2196F3;
    }

    .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    }

    .container input:checked ~ .checkmark:after {
    display: block;
    }

    .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    }
</style>